.form-signin {
    border: 1px solid black;
    padding: 3rem;
    border-radius: 10px;
    background-color: whitesmoke;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-registration input {
    border-radius: 0;
    margin-bottom: -1px;
}

.form-registration {
    border: 1px solid black;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 1.5rem;
}

.img-cover {
    text-align: center;
}

.book-list {
    margin-top: 3.5rem;
}
